{% extends 'base.html' %}

{% block content %}
<div class="bg-white p-4 rounded shadow-sm">
  <h2 class="text-center mb-4">Buscar Animes</h2>
  <form method="POST" action="{{ url_for('buscar_anime') }}" class="mb-4">
    <div class="input-group">
      <input type="text" name="termo" class="form-control" placeholder="Digite o nome do anime...">
      <button class="btn btn-primary" type="submit">Buscar</button>
    </div>
  </form>

  {% if animes %}
  <div class="row">
    {% for anime in animes %}
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm">
        <img src="{{ anime.images.jpg.image_url }}" class="card-img-top" alt="{{ anime.title }}">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ anime.title }}</h5>
          <a href="{{ url_for('detalhes_anime', anime_id=anime.mal_id) }}" class="btn btn-dark mt-auto">Detalhes</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}
